WEIBO_API_KEY = 'YOUR_API_KEY'

WEIBO_API_SECRET = 'YOUR_API_SECRET_WHICH_IS_KINDA_LONG'

APP_REDIRECT_URI = 'URL_OF_APP_YOU_SPECIFIED_WHEN_GETTING_API_KEY'

TOKEN = {u'access_token': u'ACCESS_TOKEN_VALUE'
         u'expires_at': 1533817719,  # shouldn't be in quotes
         u'remind_in': u'INTEGER_VALUE_IN_QUOTES',
         u'uid': u'ANOTHER_VALUE_IN_QUOTES'}

DATA_DIR = '/FULL/PATH/TO/YOUR/DATA/DIRECTORY/ROOT'

DROPBOX_ACCESS_TOKEN = 'YOUR_DROPBOX_ACCESS_TOKEN'
